{% extends "admin/core/base.html" %}
{% load static from staticfiles %}
{% load foundation %}

{% block title %}Eprints Import{% endblock title %}
{% block title-section %}Eprints Import #{{ import.pk }}{% endblock %}

{% block body %}
    <div class="box">
        <div class="content">
            <div class="row expanded">
                <div class="title-area">
                    <h2>Fetching issues from {{ import.url }}</h2>
                    <button class="button" onclick="onPageLoad()"><i class="fa fa-refresh"> Refresh</i></button>
                </div>

                <div id="list_container">

                </div>
            </div>
        </div>
    </div>
{% endblock body %}


{% block js %}
    <script src="{% static "admin/js/csrf.js" %}"></script>
    <script>
        $(document).ready(function () {
            onPageLoad();
        });

        function onPageLoad() {
            $("#list_container").html('<h1 class="text-center"><i class="fa fa-circle-o-notch fa-spin"></i><br />Loading Issues List</h1>');
            $.ajax({
                type: 'GET',
                url: "{% url 'eprints_fetch_issues' import.pk %}",
                dataType: 'json',
                success: function (result) {
                    if (result.status === 200) {
                        $("#list_container").html(result.html);
                    } else {
                        alert('There was an error retrieving issue data.')
                    }
                }
            });
        };

        function fetchArticles(id, url) {
            $.ajax({
                type: 'POST',
                url: "{% url 'eprints_fetch_articles' import.pk %}",
                dataType: 'json',
                data: {'url': url},
                success: function (result) {
                    if (result.status === 200) {
                        console.log(result.html)
                        $("#" + id).append(result.html);
                    } else {
                        alert('There was an error retrieving issue data.')
                    }
                }
            });
        }
    </script>
{% endblock js %}